#uploadBox
  - for upload in @uploads
    = link_to image_tag(upload.imagem.url(:thumb)), upload.imagem.url

  - form_for :upload, Upload.new, :url => admin_uploads_path, :html => { :multipart => true } do |form|
    = form.file_field :imagem
    = form.submit "Upload"

- form_for [:admin, @post] do |f|
  = f.error_messages
  %p
    = f.label :titulo
    %br
    = f.text_field :titulo

  %p
    = f.label :descricao
    %br
    = f.text_area :descricao

  %p
    = f.label :texto
    %br
    = f.text_area :texto
  %p
    = f.submit "Enviar"
