- title @post.titulo

%small 
  Publicado em
  = @post.created_at.to_s(:short)

%p
  =@post.descricao_html

%p
  =@post.texto_html

%h3 Comentário

%ul
  - for comment in @post.comments
    %li
      %p= link_to comment.autor, comment.url
      disse em 
      = comment.created_at.to_s(:short)
      %p= comment.comentario

- form_for [@post, Comment.new] do |f|
  = f.error_messages
  %p
    = f.label :autor
    %br 
    = f.text_field :autor
  %p
    = f.label :url
    %br
    = f.text_field :url
  %p
    = f.label :comentario
    %br
    = f.text_area :comentario
  %p
    = f.submit "Enviar"

%p
  = link_to "Voltar", posts_path
